@charset "UTF-8";

#wrap{
	text-align:center;
}

.bookSearchForm{
	text-align:left;
	width:800px;
	hight:1000px;
}

#rentalBookBox{
	align:center;
}
#imgBox{
	width:300px;
	hight:800px;
}
.bookSearchForm{
	margin:0 auto;
}
#bookAllList{
	list-style:none;
	text-decoration-line: none;
	color: black !important;
	font-family: 'GmarketSans';
	url:('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
	
}
.bookSearchForm tr td a{
	list-style:none;
	text-decoration-line: none;
	color: black !important;
	font-family: 'GmarketSans';
	url:('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
	
}